*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,  #0a0a0a,
    #3a4452);
}
.calculater{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(48, 216, 6, 0.5);
}
input{
    width: 320px;
    border:  none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(209, 197, 197, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(136, 87, 228, 0.1);
    cursor: pointer;
    background-color: rgb(89, 92, 89);
}
.equalbtn{
    background-color: #f3a908e8;
}

.operator{
    color: #6dee0a;
}
.ppointer{
    background-color: pink;
    color: #0a0a0a;
}